* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #5e5c5c;
}
#root {
  background-color: #0B2434;
  max-width: 700px;
  margin: 100px auto;
  height: 75vh;
  font-family: Karla;
  border: 40px solid #0B2434;
}
.container {
  background-color: #F5F5F5;
  border: 1px solid #000;
  border-radius: 15px;
  height: 100%;
}