* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #5e5c5c;
}
#root {
  background-color: #0B2434;
  max-width: 700px;
  margin: 40px auto;
  height: 85vh;
  font-family: 'Karla', sans-serif;
  border: 40px solid #0B2434;
}
.container {
  background-color: #F5F5F5;
  border: 1px solid #000;
  border-radius: 15px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}
.die-face {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
}
.roll-dice {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
}
.roll-dice:focus {
  outline: none;
}
.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
h1.title {
  font-family: 'Karla';
  font-weight: 100;
  font-size: 45px;
  letter-spacing: -0.03em;
}
p.instructions {
  font-family: 'Inter';
  font-style: normal;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #4A4E74;
  width: 85%;
}

/*** Die face styling ***/
.die-face {
  padding: 8px;
  width: 85px;
  height: 85px;
  border-radius: 10%;
  margin-right : 10px;
}
.die-num {
  padding: 4px;
  width: 80px;
  height: 80px;
  border-radius: 10%;
}
.die-face .dot {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ff6347;
}
.die-count-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.die-count-2 {
  display: flex ;
  justify-content: space-between;
}
.die-count-2  .dot:nth-of-type(2) {
  align-self: flex-end;
}
.die-count-3 {
  display: flex;
  justify-content: space-between;
}
.die-count-3 .dot:nth-of-type(1) {
  align-self :flex-end;
}
.die-count-3 .dot:nth-of-type(2) {
  align-self :center;
}
.die-count-4 , .die-count-6, .die-count-5 {
  display: flex;
  justify-content: space-between;
}
.die-count-4 .column , .die-count-6 .column, .die-count-5 .column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.die-count-5 .column:nth-of-type(2) {
  justify-content: center;
}
.number-of-rolls {
  height: 70px;
  line-height: 15px;
  text-align: center;
  text-transform: capitalize;
}
h1.roll-count {
  font-size: 45px;
}